
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    color: #fff;
    height: 64px;
    display: flex;
    padding-left: 56px;
    background-color: #81C784;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo > .text {
    font-size: 30px;
    font-weight: 600;
}

.logo-icon > img {
    width: 40px;
}

.main {
    --font-size: 1.1em;
    --bottom-line: 0.5px solid #000;
    --icon-widht: 24px;
    flex-grow: 1;
    max-height: calc(100% - 64px);
    display: flex;
}

.main .left {
    --font-weight: 400;
    --left-padding: 16px;
    width: 300px;
    padding: 16px var(--left-padding) ;
    display: grid;
    grid-template-rows: 300px 1fr 64px;
    overflow-y: auto;
    background-color: rgb(249, 249, 249);
}

.task-classifications {
    display: grid;
}

.task-classifications > div ,
.projects .projects-list > div{
    font-size: var(--font-size);
    font-weight: 500;
    background-color: #fff;
    margin: 6px 6px; 
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 0.2px solid #fff;
    transition: 0.3s;
}

.task-classifications > div:hover ,
.projects .projects-list > div:hover ,
.todos:hover {
    border: 0.2px solid #25b02c;
}

.task-classifications .icon , 
.projects-list .icon ,
.todos div:nth-child(2) .icon {
    width: var(--icon-widht);
}

.left .projects {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.projects .head ,
.todos-container .head {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: var(--bottom-line);
    height: 36px;
}

.projects .head {
    padding-right: var(--left-padding);
}

.head .title {
    font-size: calc(var(--font-size) + 6px);
}

.head button {
    padding: 3px 8px;
    background-color: rgb(87, 86, 86);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.projects-list {
    margin : 12px 0;
    display: grid;
    grid-auto-rows: 58px;
}

.projects-list > div {
    justify-content: space-between;
}

.projects-list .icons-container {
    height: 100%;
    width: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left a {
    color: #25b02c;
    text-decoration: none;
    font-weight: var(--font-weight);
}

.left .footer {
    text-align: center;
    border-top: var(--bottom-line);
}
/* style for right side (main section) */
.main .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 32px;
}

.todos-container  {
    --padding-left-right: 24px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todos-container .head {
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
}

.project-name {
    font-size: 3em;
}

.icons-container img:hover , 
.todos div:nth-child(2) img:hover {
    margin-bottom: 4px;
}

.todos-list {
    flex-grow: 1;
    display: grid;
    grid-auto-rows: 56px;
    row-gap: 1px;
}

.todos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border: 0.2px solid #fff;
    transition: 0.3s;
    cursor: pointer;
}

.todos > div {
    display: flex;
    align-items: center;
}

.completed {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    background-color: #25b02c;
}

.completed.icon img {
    width: 14px;
}

.todos .icon ,
.todos .date{
    margin: 0 8px;     
    cursor: pointer;
}

.date {
    font-size: 0.9em;
    color:#25b02c;
}

/* for test  */
