
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    color: #fff;
    height: 64px;
    display: flex;
    padding-left: 56px;
    background-color: #81C784;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo > .text {
    font-size: 30px;
    font-weight: 600;
}

.logo-icon > img {
    width: 40px;
}

.main {
    flex-grow: 1;
    max-height: calc(100% - 64px);
    display: flex;
}

.main .left {
    --icon-widht: 24px;
    --font-size: 1.1em;
    --font-weight: 400;
    --left-padding: 16px;
    --bottom-line: 0.5px solid #000;
    width: 300px;
    padding: 16px var(--left-padding) ;
    display: grid;
    grid-template-rows: 300px 1fr 64px;
    overflow-y: auto;
}

.task-classifications {
    display: grid;
}

.task-classifications > div ,
.projects .projects-list > div{
    font-size: var(--font-size);
    font-weight: 500;
    border: 0.5px solid #484747;
    margin: 6px 6px; 
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 4px;
}

.task-classifications .icon {
    width: var(--icon-widht);
}

.left .projects {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.projects .head {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-right: var(--left-padding);
    height: 36px;
    border-bottom: var(--bottom-line);
}

.head .title {
    font-size: calc(var(--font-size) + 6px);
}

.head button {
    padding: 4px 12px;
    border: none;
    font-size: 16px;
    font-weight: calc(var(--font-weight) * 1.5);
    border-radius: 50%;
    cursor: pointer;
}

.projects-list {
    margin : 12px 0;
    display: grid;
    grid-auto-rows: 58px;
}

.projects-list > div {
    justify-content: space-between;
}

.projects-list .icons-container {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.left a {
    color: #25b02c;
    text-decoration: none;
    font-weight: var(--font-weight);
}

.left .footer {
    text-align: center;
    border-top: var(--bottom-line);
}

.main .right {
    flex: 1;
}



