@font-face {
    font-family: 'my-roboto-font';
    src: url('./assets/Roboto-Medium.ttf');
}

:root {
    font-family: 'my-roboto-font';
    src: url('./assets/Roboto-Medium.ttf'), 
        url('./assets/Roboto-Bold.ttf');
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    color: #fff;
    height: 64px;
    display: flex;
    padding-left: 56px;
    background-color: #81C784;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo > .text {
    font-size: 26px;
}

.logo-icon > img {
    width: 32px;
}

.main {
    flex: 1;
}

